html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


div {
  position: relative;
  width: auto;
}
.inline-block {
  display: inline-block;
}
.padding-top-20 {
  padding-top: 20px
}
.padding-left-20 {
  padding-left: 20px
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

